body{
    
    background: #E3F6F5;
}
.tabel {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0;
  border-collapse: separate;
  border-radius: 4px;
  border: 2px solid #272643;
    
}
.tabel thead tr {
    background-color: #272643;
    
    text-align: left;
    
}

.tabel th,
.tabel td {
    padding: 12px 15px;
}
.tabel tbody tr {
    border-bottom: thin solid #E3F6F5;
}

.tabel tbody tr:nth-of-type(even) {
    background-color: #BAE8E8
    ;
}
.tabel tbody tr:nth-of-type(odd) {
    background-color: #E3F6F5
    ;
}

.tabel tbody tr:last-of-type {
    border-bottom: thin solid #272643;
}
.tabel tbody tr.active-row {
    font-weight: bold;
    color: #272643;
}



/* CSS */
button {
  background-color: #272643;
  border-radius: 100px;
  box-shadow: #2C698D 0 4px 8px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  /* padding: 7px 20px; */
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  box-shadow: #2C698D 0 -25px 18px -14px inset,#2C698D 0 1px 2px,#2C698D 0 2px 4px,#2C698D 0 4px 8px,#2C698D 0 8px 16px,#2C698D 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}